﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<script>

    var db;
    function create_data_base() {

      //  alert("hello i am ur first script");
        db = openDatabase('mydb2','1.0',' test datat base',2*1024*1024);


    }
    function create_table() {

        db.transaction(function(tx) {

            tx.executeSql('create table t1(st_name)   ');

        });



    }
    function create_student_table() {

        db.transaction(function(tx) {

            tx.executeSql('create table students (st_name,avrg integer )   ');

        });



    }

    function insert_data() {


        db.transaction(function(tx) {

            tx.executeSql('insert into t1(st_name) values("abcd")  ');

        });
    }
    function insert_data_to_student_table() {


        db.transaction(function(tx) {

        tx.executeSql('insert into students(st_name,avrg) values("abcd",90)  ');
        tx.executeSql('insert into students(st_name,avrg) values("mmmm",70)  ');
        tx.executeSql('insert into students(st_name,avrg) values("uuu",60)  ');
        tx.executeSql('insert into students(st_name,avrg) values("ee",85)  ');
        tx.executeSql('insert into students(st_name,avrg) values("ww",40)  ');

        });
    }


    function show_all_students() {

        var msg = "";

        db.transaction(function(tx) {

            tx.executeSql("select * from students where avrg >= 80 and avrg <90  ", [], function(tx, result) {
                var len;
                len = result.rows.length;
                alert(len);



                for (var i = 0; i < len; i++) {
                    msg = "<p><b>" +' name ='+ result.rows.item(i).st_name + ' avrg= ' + result.rows.item(i).avrg + "</b></p>";
                    document.querySelector("#s1").innerHTML += msg;

                }




            });


        });


    }
    
    
    
    

</script>


    <input id="Button1" type="button" value=" create db" onclick="create_data_base();" />
    <input id="Button2" type="button" value=" create table" onclick="create_student_table();" />
 <input id="Button3" type="button" value=" insert into table" onclick="insert_data_to_student_table();" />
 <input id="Button4" type="button" value=" show all students " onclick="show_all_students();" />
 <div  id="s1" name="s1">hello i am ur message</div>

</body>
</html>
